<body>
    <br><br><br><br><br>
    <div class="login-card">    
        <h2>Login</h2>
                    <h3>Enter your credentials</h3>
        <form class="login-form" method="post">
                <input type="hidden" name="type" value="login"><br>
                <input type="text" name="user_name" formControlName="user_name" placeholder="Name" required><br>
                <input type="password" name="password" formControlName="password" placeholder="Password" required><br>
                <button type="submit" name="submit"><p>Log In</p></button>
            </form>
            <a id="linkedText" [routerLink]="['/'+'register']">If you dont have an account, SignUp</a>
        </div>
            <router-outlet></router-outlet>
        </body>